span.css-10trblm.eqr7zpz0
{
    /* background-color: cadetblue; */
    text-align: center;
}
div.row-widget.stButton
{
    text-align: center;
}
div.css-1dj3z61.e1iq63gx0
{
    text-align: center;
}
/* button.css-nqowgj.e1ewe7hr3
{
    visibility: hidden;
    display: none;
} */
footer
{
    display: none;
}
/* img{
    width: 100px;
    height: 120px;
    float: left;
}

.css-ocqkz7 {
    display: inline-flex !important;
} */
.header {
    background-color: white;
}
@media (max-width: 600px) {
    .image-row {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .image-row img {
        margin: 10px;
    }
}
@media (max-width: 600px) {
    .css-ocqkz7 {
        flex-wrap: nowrap; /* Display images in a single row */
        gap: 5px; /* Reduce the gap between images */
        justify-content: flex-start; /* Align images to the left */
        overflow-x: auto; /* Prevent horizontal scrolling on mobile devices */
    }
}